---
interface TeamCard {
  name: string;
  age: number;
  image: string;
  story: string;
}

// TODO: 📷 Include real photos of the instructors
const INSTRUCTORS: TeamCard[] = [
  {
    name: "John Doe",
    age: 24,
    image: "/images/john.png",
    story:
      "Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae.",
  },
  {
    name: "Jane Doe",
    age: 28,
    image: "/images/jane.png",
    story:
      "Lorem ipsum dolor sit amet consectetur adipiscing elit quisque faucibus ex sapien vitae.",
  },
];
---

<section class="container mx-auto p-4">
  <h1 class="font-bebas-neue text-secondary text-center text-xl mb-4">
    ¿Quiénes somos?
  </h1>

  <ul>
    {
      INSTRUCTORS.map((instructor) => (
        <li>
          <div>
            <h3>{instructor.name}</h3>
            <span>{instructor.age}</span>
          </div>
          <p>{instructor.story}</p>
          <button type="button">Ver más</button>
        </li>
      ))
    }
  </ul>
</section>
