<!-- TODO: Make this counter sticky to top of the document -->
<section>
  <h2>¡Sólo por tiempo limitado!</h2>

  <ul>
    <li>
      <time datetime="P0D">00</time>
      <span>Días</span>
    </li>
    <li>
      <time datetime="PT0H">00</time>
      <span>Horas</span>
    </li>
    <li>
      <time datetime="PT0M">00</time>
      <span>Minutos</span>
    </li>
    <li>
      <time datetime="PT0S">00</time>
      <span>Segundos</span>
    </li>
  </ul>
</section>
