<section class="bg-secondary p-4">
  <h2 class="text-center text-md font-bold uppercase">
    ¡Sólo por tiempo limitado!
  </h2>

  <ul
    class="flex justify-center gap-2 mt-2 [&>li]:bg-white [&>li]:text-black [&>li]:p-2 [&>li]:rounded-md [&>li]:text-center [&>li]:flex [&>li]:flex-col [&>li]:justify-center [&>li]:items-center [&>li>time]:text-md [&>li>time]:font-bold [&>li]:text-sm"
  >
    <li>
      <time datetime="P0D">00</time>
      <span>Días</span>
    </li>
    <li>
      <time datetime="PT0H">00</time>
      <span>Horas</span>
    </li>
    <li>
      <time datetime="PT0M">00</time>
      <span>Minutos</span>
    </li>
    <li>
      <time datetime="PT0S">00</time>
      <span>Segundos</span>
    </li>
  </ul>
</section>
