---
import { Icon } from "astro-icon/components";
import PrimaryButton from "../ui/PrimaryButton.astro";

interface FaqItem {
  question: string;
  answer: string;
}

const FAQ_ITEMS: FaqItem[] = [
  {
    question: "Cuándo es el evento Misión: Comerciante del futuro?",
    answer:
      "El evento será el domingo 14 de diciembre de 10:00 am a 4:00 pm hora Colombia.",
  },
  {
    question: "¿Funciona si aún no he llegado a $30K en mi negocio?",
    answer:
      "Este evento está específicamente diseñado para los que ya facturan entre $30K-$50K y quieren escalar a 6 cifras. Si aún no has llegado a este nivel, te recomiendo enfocarte primero en consolidar tus primeros 30k como mínimo.",
  },
  {
    question: "¿Esto funciona para mi nicho específico?",
    answer:
      "El sistema funciona para cualquier negocio de infoproductos. Los principios son universales, pero en el evento adaptaremos la estrategia a las particularidades de tu negocio.",
  },
];
---

<section class="container mx-auto p-4">
  <h1 class="font-bebas-neue text-secondary text-center text-xl mb-4">
    Preguntas frecuentes
  </h1>

  <div class="mb-6 space-y-4">
    {
      FAQ_ITEMS.map((item) => (
        <article
          data-faq
          class="bg-surface border-2 border-primary/70 rounded-xl p-4"
        >
          <div class="flex items-center justify-between gap-4">
            <span class="inline-block font-bold text-md">{item.question}</span>
            <Icon
              name="bxs:up-arrow"
              class="faq-icon size-6 text-primary transition-all duration-300"
            />
          </div>

          <div class="faq-answer overflow-hidden max-h-0 opacity-0 transition-all duration-300">
            <p class="inline-block text-sm text-text mt-4">{item.answer}</p>
          </div>
        </article>
      ))
    }
  </div>

  <PrimaryButton>
    <Icon name="mdi:register" />
    ¡Registrarme ya!
  </PrimaryButton>
</section>

<script>
  const faqs = document.querySelectorAll(
    "[data-faq]"
  ) as NodeListOf<HTMLElement>;
  let activeFaq: null | HTMLElement = null;

  const closeFaq = (faq: HTMLElement | null) => {
    if (!faq) return;

    faq.classList.remove("card-shadow");

    const answer = faq.querySelector(".faq-answer") as HTMLElement;
    const icon = faq.querySelector(".faq-icon") as HTMLElement;

    answer.style.maxHeight = "0px";
    answer.style.opacity = "0";
    icon.style.transform = "rotate(0deg)";
  };

  const openFaq = (faq: HTMLElement | null) => {
    faq?.classList.add("card-shadow");

    const answer = faq?.querySelector(".faq-answer") as HTMLElement;
    const icon = faq?.querySelector(".faq-icon") as HTMLElement;

    answer.style.maxHeight = answer.scrollHeight + "px";
    answer.style.opacity = "1";
    icon.style.transform = "rotate(180deg)";
  };

  faqs.forEach((faq: HTMLElement | null) => {
    faq?.addEventListener("click", (e) => {
      e.stopPropagation();

      if (activeFaq === faq) {
        closeFaq(activeFaq);
        activeFaq = null;
        return;
      }

      closeFaq(activeFaq);
      openFaq(faq);
      activeFaq = faq;
    });
  });

  document.addEventListener("click", () => {
    closeFaq(activeFaq);
    activeFaq = null;
  });
</script>
