---
import { Icon } from "astro-icon/components";
---

<main>
  <nav>
    <h1>LOGO</h1>
  </nav>

  <div>
    <h1>
      <span>Lorem Ipsum</span> dolor sit amet, consectetur.
    </h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et lorem
      sit amet orci.
    </p>
  </div>

  <form action="POST">
    <input type="email" placeholder="user@test.xyz" />
    <button type="submit">
      <Icon name="mdi:register" />
      Registrarme
    </button>
  </form>
</main>
