---
import { Icon } from "astro-icon/components";
import PrimaryButton from "../ui/PrimaryButton.astro";

interface FunnelHighlights {
  summary: string;
  basics: string[];
}

const FUNNEL_HIGHLIGHTS: FunnelHighlights[] = [
  {
    summary: "El sistema de 3 embudos que te permitirá escalar a +100K",
    basics: [
      "Cómo escalar lanzamientos gratuitos en este 2026 (sin perder en el intento).",
      "La estrategia de lanzamiento pago que nos generó ROAS mayor a 23.",
      "El embudo evergreen que te da flujo de caja sin depender de picos de facturación.",
    ],
  },
  {
    summary: "Planeación completa para este 2026",
    basics: [
      "Las fechas estratégicas que DEBES explotar (y las que debes evitar).",
      "Cómo calcular margen por producto y distribuir a lo largo del año",
      "Qué productos y embudos usar en cada momento del año para maximizar lucro.",
    ],
  },
  {
    summary: "El sistema de 3 embudos que te permitirá escalar a +100K",
    basics: [
      "Cómo escalar lanzamientos gratuitos en este 2026 (sin perder en el intento).",
      "La estrategia de lanzamiento pago que nos generó ROAS mayor a 23.",
      "El embudo evergreen que te da flujo de caja sin depender de picos de facturación.",
    ],
  },
];
---

<section class="container mx-auto p-4">
  <h1 class="font-bebas-neue text-secondary text-xl text-center mb-4">
    Más información sobre este evento
  </h1>

  <ul class="mb-4 flex flex-col gap-6">
    {
      FUNNEL_HIGHLIGHTS.map((card, i) => (
        <li class="card bg-surface border-2 border-primary/70 p-4 rounded-xl card-shadow">
          <h3 class="uppercase font-bold text-lg">Pilar {i + 1}</h3>
          <span class="text-md">{card.summary}</span>
          <ul class="space-y-2 mt-4">
            {card.basics.map((basic) => (
              <li class="text-text flex items-center gap-2">
                <Icon
                  name="icon-park-twotone:check-one"
                  class="size-10 text-green-500"
                />
                {basic}
              </li>
            ))}
          </ul>
        </li>
      ))
    }
  </ul>

  <PrimaryButton type="button">
    <Icon name="mdi:register" />
    ¡Registrarme ya!
  </PrimaryButton>
</section>
