---
import { Icon } from "astro-icon/components";
import PrimaryButton from "../ui/PrimaryButton.astro";

interface IntroCards {
  headline: string;
  copy: string;
  icon: string;
}

const INTRO_AUDIENCE: IntroCards[] = [
  {
    headline: "Quieres lanzar tu primera tienda online",
    copy: "Perfecto si tienes ideas, pero te falta el mapa claro para arrancar sin perder tiempo ni dinero.",
    icon: "ic:twotone-rocket-launch",
  },
  {
    headline: "Ya vendes... pero quieres escalar tus resultados",
    copy: "Ideal si buscas optimizar tu tienda, mejorar tu conversión y empezar a vender de forma más estratégica.",
    icon: "icon-park-twotone:trend",
  },
  {
    headline: "Buscas crear un negocio real, no solo un hobby",
    copy: "Si estás listo para dejar de improvisar y construir un sistema que trabaje a tu favor todos los días.",
    icon: "ic:twotone-storefront",
  },
  {
    headline: "Quieres aprender lo que funciona HOY en e-commerce",
    copy: "Si quieres tácticas y frameworks actuales, aplicables de inmediato sin tecnicismos innecesarios.",
    icon: "ant-design:thunderbolt-twotone",
  },
];
---

<style>
  @keyframes show {
    from {
      opacity: 0%;
      scale: 0%;
    }
    to {
      opacity: 100%;
      scale: 100%;
    }
  }

  .card {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 25% cover 50%;
  }

  .card-shadow {
    box-shadow: 0 0 10px 5px rgba(152, 76, 201, 0.25);
  }
</style>

<section class="container mx-auto p-4">
  <h1 class="font-bebas-neue text-secondary text-center text-xl mb-6">
    Este evento es para ti si...
  </h1>

  <ul class="mb-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    {
      INTRO_AUDIENCE.map((card) => (
        <li class="bg-surface border-2 border-primary/70 p-4 rounded-lg card-shadow">
          <Icon name={card.icon} class="text-primary size-12" />
          <div class="space-y-2 mt-4">
            <h3 class="text-md font-bold inline-block">{card.headline}</h3>
            <p class="text-sm text-text inline-block">{card.copy}</p>
          </div>
        </li>
      ))
    }
  </ul>

  <PrimaryButton type="button">
    <Icon name="mdi:register" />
    ¡Registrarme ya!
  </PrimaryButton>
</section>
