<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Misión: Comerciante del Futuro</title>
  </head>
  <body>
    <!-- TODO: 👇🏻 Add section components here -->
  </body>
</html>
