@import "tailwindcss";
@import "@fontsource-variable/exo-2";
@import "@fontsource/bebas-neue";

:root {
  --u: calc(1rem / 1.6);
}

body {
  font-family: "Exo 2 Variable", sans-serif;
  background-color: #0b0219;
  color: #ffffff;
}

/* TEXT SIZES */
@theme {
  --text-xs: clamp(calc(1.2 * var(--u)), 0.75rem + 0.5vw, calc(1.5 * var(--u)));
  --text-sm: clamp(calc(1.6 * var(--u)), 0.75rem + 0.5vw, calc(1.8 * var(--u)));
  --text-md: clamp(calc(1.8 * var(--u)), 0.75rem + 1.4vw, calc(2.6 * var(--u)));
  --text-lg: clamp(calc(2.6 * var(--u)), 0.75rem + 3vw, calc(3.2 * var(--u)));
  --text-xl: clamp(calc(3.4 * var(--u)), 0.75rem + 4vw, calc(3.8 * var(--u)));
}

/* COLOR PALETTE */
@theme {
  --color-primary: #984cc9;
  --color-secondary: #6d28d9;

  --color-layout: #0b0219;
  --color-surface: linear-gradient(0deg, #20052e 0%, #15062e 100%);

  --color-text: #a3a3a3;

  --color-destructive: #ff5470;
  --color-success: #4caf50;
  --color-info: #2196f3;
  --color-warning: #ffc107;
}

@layer utilities {
  .bg-surface {
    background-image: var(--color-surface);
  }
}

/* FONT FAMILY */
@theme {
  --font-bebas-neue: "Bebas Neue", sans-serif;
}

.card-shadow {
  box-shadow: 0 0 10px 5px rgba(152, 76, 201, 0.25);
}

@keyframes show {
  from {
    opacity: 0%;
    scale: 0%;
  }
  to {
    opacity: 100%;
    scale: 100%;
  }
}

.card {
  view-timeline-name: --reveal;

  animation-name: show;
  animation-fill-mode: both;

  animation-timeline: --reveal;
  animation-range: entry 20% cover 35%;
}
