---
// import "@/global.css";

interface Props {
  title?: string;
  description?: string;
}

const defaultMetadata = {
  title: "Misión: Comerciante del Futuro",
  description:
    "Landing oficial del evento Misión: Comerciante del Futuro, impartido por John y Alonso.",
};

const { title, description } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content={description ?? defaultMetadata.description}
    />
    <title>{title ?? defaultMetadata.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
